body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 2px solid #000;
    background-color: white;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* BIENVENUE */
.welcome {
    text-align: center;
    margin: 40px 0;
}

/* BLOCS */
.choices {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.box {
    width: 250px;
    height: 200px;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.box h2 {
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    border: 2px solid #000;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.btn:hover {
    background-color: black;
    color: white;
}


.formulaire {
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.formulaire input {
    margin-bottom: 10px;
    padding: 8px;
}

.voitures {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.car {
    background: white;
    padding: 10px;
    width: 200px;
    text-align: center;
    border: 1px solid black;
}
